* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --primary-font: "DM Sans", sans-serif;
  --colors-white-white100: #fff;
  --colors-black-main-text-black: #222;
  --primary-color: #47b5ff;
  --secondary-button-border: #1d577c;
  --border: #e9e9e9;
  --colors-blue-shades-shade-color-light: #dff6ff;
  --grey-text: rgb(34 34 34 / 70%);
}

body {
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-synthesis: none;
  font-weight: 400;
  text-rendering: optimizelegibility;
}

a,
a:hover {
  text-decoration: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 32px;
  color: var(--colors-black-main-text-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  border: 1px solid var(--secondary-button-border);
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 25%);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
