.nav {
  position: relative;

  @media screen and (width <= 1024px) {
    width: 100%;
  }
}

.navbar {
  position: relative;
  padding: 0 32px;
  background-color: var(--colors-white-white100);
  border-bottom: 1px solid var(--border);

  @media screen and (width <= 1024px) {
    position: absolute;
    top: 0;
    left: -999px;
    width: 80%;
    border-bottom: unset;
  }
}

.res-nav {
  position: relative;
  background-color: var(--colors-white-white100);
  border: 1px solid var(--border);
  box-shadow: 0 6px 15px 0 rgb(64 79 104 / 5%);

  @media screen and (width <= 1024px) {
    position: absolute;
    top: 0;
    width: 90%;
    height: 100vh;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (width <= 1024px) {
    flex-direction: column;
    width: 100%;
  }
}

/* toggle-bar  */

.toggle-bar {
  position: relative;
  display: flex;

  @media screen and (width <= 1024px) {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border);
  }
}

.toggle-open {
  display: none;
  cursor: pointer;

  &:hover {
    color: var(--grey-text);
  }

  @media screen and (width <= 1024px) {
    display: initial;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.toggle-open > img {
  width: 25px;
  height: 25px;
}

.toggle-close {
  display: none;
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    color: var(--grey-text);
  }

  @media screen and (width <= 1024px) {
    display: initial;
  }
}

/* logo */

.logos {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 132px;
  padding-right: 4.376px;
  gap: 9.925px;

  @media screen and (width <= 1024px) {
    justify-content: space-between;
    padding-right: 0;
  }
}

.res-logos {
  display: none;

  @media screen and (width <= 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: var(--colors-black-main-text-black);
  }
}

/* menu */

.menu-container {
  display: flex;
  gap: 124px;
  align-items: center;

  @media screen and (width <= 1024px) {
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 0;
  }
}

.menu {
  display: flex;
  gap: 1.75em;

  @media screen and (width <= 1024px) {
    flex-direction: column;
    width: 100%;
    padding: 0 16px;
    margin-top: 20px;
    gap: 0;
  }
}

.menu ul {
  position: relative;
  display: flex;
  gap: 1.75em;

  @media screen and (width <= 1024px) {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
}

.menu .drop-menu > li {
  position: relative;
  cursor: pointer;

  @media screen and (width <= 1024px) {
    width: 100%;
  }
}

.menu ul li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: var(--colors-black-main-text-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  gap: 8px;

  @media screen and (width <= 1024px) {
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
  }
}

.menu .dropdown {
  position: absolute;
  top: calc(100% - 0.5px);
  left: 0;
  display: none;
  width: 330px;
  background-color: var(--colors-white-white100);
  border: 1px solid var(--border);
  border-radius: 0 0 0 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);

  @media screen and (width <= 1024px) {
    position: relative;
    width: 100%;
    border: unset;
  }
}

.menu .dropdown li:hover {
  background-color: var(--primary-color);

  @media screen and (width <= 1024px) {
    background: var(--colors-white-white100t);
  }
}

.menu .dropdown a {
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 10px 50px;
  font-size: 15px;

  &:hover {
    color: var(--colors-white-white100);
  }

  @media screen and (width <= 1024px) {
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;

    &:hover {
      color: var(--colors-black-main-text-black);
    }
  }
}

.menu .dropdown a > img {
  display: none;

  @media screen and (width <= 1024px) {
    display: initial;
  }
}

.menu .drop-menu .dropdown .sub-dropdown {
  position: absolute;
  top: 0;
  left: calc(100% + 1px);
  display: none;
  width: 647px;
  padding: 40px 0;
  background-color: var(--colors-white-white100);
  border: 1px solid var(--border);
  border-radius: 0 0 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);

  @media screen and (width <= 1024px) {
    position: relative;
    width: 100%;
    border: unset;
  }
}

.menu .dropdown .sub-dropdown li {
  padding: 9px 40px;
  background: transparent;
}

.menu .dropdown .sub-dropdown a {
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;

  &:hover {
    color: var(--grey-text);
    background: var(--colors-blue-shades-shade-color-light);
  }
}

.menu ul li:focus-within .dropdown,
.menu ul li:hover .dropdown {
  display: initial;
}

.menu .dropdown li:focus-within .sub-dropdown,
.menu .dropdown li:hover .sub-dropdown {
  display: initial;

  @media screen and (width <= 1024px) {
    left: 0;
  }
}

/* button wrapper  */

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  @media screen and (width <= 1024px) {
    flex-direction: column;
    width: 100%;
    padding: 16px;

    button {
      width: 100%;
    }
  }
}
