.navbar {
  padding: 0 32px;
  background-color: var(--colors-white-white100);
  border-bottom: 1px solid var(--border);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 132px;
  padding-right: 4.376px;
  gap: 9.925px;
}

.menu-container {
  display: flex;
  gap: 124px;
  align-items: center;
}

.menu ul {
  display: flex;
  gap: 1.75em;
}

.menu ul li {
  position: relative;
  cursor: pointer;
}

.menu ul li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: var(--colors-black-main-text-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  gap: 8px;
}

.menu .fixed {
  position: fixed;
}

.menu .dropdown {
  position: absolute;
  top: calc(100% - 0.5px);
  left: 0;
  display: none;
  width: 330px;
  height: 500px;
  background-color: var(--colors-white-white100);
  border: 1px solid var(--border);
  border-radius: 0 0 0 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}

.menu .dropdown li:hover {
  color: var(--colors-white-white100);
  background-color: var(--primary-color);
}

.menu .dropdown a {
  padding: 10px 50px;
  font-size: 15px;

  &:hover {
    color: var(--colors-white-white100);
  }
}

.menu .dropdown .sub-dropdown {
  position: absolute;
  left: -999999px;
  display: none;
  width: 647px;
  padding: 40px 0;
  background-color: var(--colors-white-white100);
  border: 1px solid var(--border);
  border-radius: 0 0 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
}

.menu .dropdown .sub-dropdown li {
  padding: 9px 40px;
  background: transparent;
}

.menu .dropdown .sub-dropdown a {
  justify-content: start;
  align-items: start;
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;

  &:hover {
    color: var(--grey-text);
    background: var(--colors-blue-shades-shade-color-light);
  }
}

.menu ul li:focus-within .dropdown,
.menu ul li:hover .dropdown {
  display: initial;
}

.menu .dropdown li:focus-within .sub-dropdown,
.menu .dropdown li:hover .sub-dropdown {
  top: calc(100% - 99px);
  left: calc(100% - 0.5px);
  display: initial;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
